body{
    background-size: cover;
    background-attachment:fixed;
    background-image: url(../img/wpIMGL2790_TP_V.jpg);
}

.container-fluid:not(.nt){
    padding-bottom:70vh;
}

.lang_jp{
    display:block;
}

.lang_en{
    display:none;
}


#update:link{
    color:blue;
}

.head_button{
    margin: 0;
    position: relative;
    width:100px;
    height:45px;
    float:left;
    text-align:center;
    vertical-align:middle;
    background-color: rgba(240,240,240, 0.5);
    padding-top:7px;
}

#lang_button{
    right : 30px;
    border-radius: 90%;
    background-color: rgba(240,240,240, 0.5);
    margin:0 0 0 10px;
    position: absolute;
}


.header{
    background-image: url(../img/0341_mosaictile_s.jpg);
    position:fixed;
    padding-bottom: 6px;
    z-index: 5;
    width: 100%;
    height: 45px;
    float: left;
}


.head_button a{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.slide_child{
    position: relative;
    right:0;
    top: 10px;
    width:100px;
    height:40px;
    float:left;
    text-align:center;
    vertical-align:middle;
    background-color:rgba(240,240,240, 1.0);
    padding-top:5px;
    display:none;
}

.s_b{
    border-radius: 0 0 10px 10px/0 0 10px 10px;
}


#index :not(h1) :not(a){
    color:rgb(50, 25, 25);
    font-family: ヒラギノ角ゴ Pro W3;    
}

#index_main{
    opacity: 0.9;
    height: auto;
    padding: 10px 20px 10px 20px;
    margin:70px 20px 90vh 20px;
    text-align: center;
}

.all_layer{
    height:100%;
    width:100%;
    z-index:1;
    transition: background-color 0.3s linear; 
}

h1{
    font-family: IMPACT;
}

.about_main{
    color:black;
    height: auto;
    z-index:3;
    font-size: 1rem;
}

#about_p{
    margin-bottom: 70vh;
}

#about_m{
    margin-bottom: 400px;
}

#profile{
    height:auto;
}


.name{
    color:rgb(50, 50, 0);
    
    height: auto;
    padding: 30px 0 10px;
    z-index:3;
}
#name h6{
    margin-bottom:2px;
}

#biography{
    margin-top: 10px;    
    height:1000px;
    
}

.bio_content{
    margin-top:5vh;
}

.bio_content::before{
    position: absolute;
    width: 5px;
    background: #e1e1c8;
    top: inherit;
    left: 0.1rem;
    margin-left: 10vw;
    content: '';
    height: 100%;
    z-index:31;
}

.bio_y{
    padding:20px 0;
    font-family: "メイリオ";
    
}
.bio_y::after{
    content:"~";
    left: 0.1rem;
    margin-left: 1vw;
}

.bio_c{
    padding:20px 0;
    margin-left:8vw;
    font-family: "メイリオ";
    text-align: right;
}

.bio_g{
    background-color: rgb(245, 245, 215);
    width:80%;
}

#product{
    height:auto;
    margin-bottom: 0px;
    
}




.slider{
    margin: 50px auto;
    width: 85%;
}
.slider img{
    height: auto;
    width: 85%;
    padding: 0 0;
    margin:auto;
}

.slick-prev:before,.slick-next:before {
    color: #000;
}

.slider ul{
    padding: 0;
    width:90%;
}



#iidaxe_modal{
    display: none;
    height: 80%;
    width: 80%;
    padding-bottom: 20px;
    background-color: white;
    position:fixed;
    z-index: 20;
    border-radius: 5px;
    border: solid 1px blue;
    overflow-y: scroll;
}


#iidaxe_wrap{
    color:rgb(50, 25, 25);
}
#iidaxe_wrap span{
    font-size:12px;
    margin-top:0;
}
#iidaxe_wrap h1{
    margin-top: 1px;
    margin-bottom: 3px;
}

#iidaxe_wrap h2{
    margin-top: 10px;
}
#iidaxe_wrap p{
    margin-bottom: 1px;
}
#iidaxe_wrap li{
    font-size: 14px;
}
#iidaxe_wrap i{
    font-size: 30px;
    margin-top: 1px;
}

footer .layer{
    background-color: rgba(255, 175, 200, 0.5);
    padding-bottom: 0;
}
footer img{
    width: 5vw;
    transition: 0.3s ease 0s;
}
footer img:hover{
    transform: translateY(-10px);
}