.lang_jp{
    display:block;
}

.lang_en{
    display:none;
}


.head_button{
    margin: 0;
    position: relative;
    width:100px;
    height:60px;
    float:left;
    text-align:center;
    vertical-align:middle;
    background-color: rgba(236, 227, 236, 0.4);
    
    padding-top:7px;
    /*background-color: rgb(255,175,255);*/
    /*border: groove 2px skyblue;*/
    /*border-radius: 5px 5px 0 0/ 5px 5px 0 0;*/
}

#lang_button{
    border-radius: 90%;
    background-color: #99FF66;
    margin:5px 10px;
    position: relative;
    width:100px;
    height:50px;
}


.header{
    background-image: url(../img/0341_mosaictile_s.jpg);
    position:fixed;
    padding-bottom: 6px;
    z-index: 5;
    width: 100%;
    height: 60px;
    float: left;
}



.head_button a{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}

.slide_child{
    position: relative;
    right:2px;
    top: 8px;
    width:100px;
    height:40px;
    float:left;
    text-align:center;
    vertical-align:middle;
    /*background-color: rgb(200,175,255);*/
    /*border: solid 1px skyblue;*/
    padding-top:5px;
    display:none;
    opacity: 0.9;
}

.s_b{
    border-radius: 0 0 5px 5px/0 0 5px 5px;
}

.main_wraper{
    width:auto;
    background-size: cover;
    background-attachment:fixed;
    background-image: url(../img/wpIMGL2790_TP_V.jpg);
    
}

#index{
    height:2000px;    
}

#index_main{
    color:black;
    background-color: white;
    opacity: 0.9;
    height: auto;
    padding: 10px 20px 10px 20px;
    margin:70px 20px 700px 20px;
    border: solid 2px skyblue;
    text-align: center;
}

.all_layer{
    height:100%;
    width:100%;
    z-index:30;
}

.prof_layer{
    background-color: #fffaf0;
    
}

#about h3{
    font-family: IMPACT;
}

.about_main{
    color:black;
    
    
    width: 50%;
    height: auto;
    padding: 20px 30px;
    z-index:3;
    
}



#profile{
    height:2000px;
}

.name{
    color:black;
    /*background-color: white;*/
    /*opacity: 0.9;*/
    width: 550px;
    height: auto;
    /*padding: 10px 0 10px 20px;*/
    /*margin:0 0 20px 20px;*/
    /*border: solid 2px skyblue;*/
    z-index:3;
    /*border-radius: 15px 15px 15px 15px/ 15px 15px 15px 15px;*/
}
#name h6{
    margin-bottom:2px;
}

#biography{
    margin-top: 10px;    
    
}

.bio_contents::before{
    width:115px;
    left: 105px;
    background-color: red;
    margin-left: 50px;
    
    
}

.b_year::after{
    content:"";
}

#product{
    max-height:3210px;
}

#iidaxe_wrap{
    color:black;
    background-color: white;
    opacity:0.9;
    padding:10px 0 20px 10px;
    margin:0 0 20px 20px;
    border: solid 2px skyblue;
}
#iidaxe_wrap span{
    font-size:12px;
    margin-top:0;
}
#iidaxe_wrap h1{
    margin-top: 1px;
    margin-bottom: 3px;
}

#iidaxe_wrap h2{
    margin-top: 10px;
}
#iidaxe_wrap p{
    margin-bottom: 1px;
}
#iidaxe_wrap li{
    font-size: 14px;
}
#iidaxe_wrap i{
    font-size: 30px;
    margin-top: 1px;
}

#preview{
    height:80%;
    width:80%;
}