/*https://copypet.jp/692/ より引用*/

.cp_iptxt {
	position: relative;
	width: 85%;
	margin: 40px 0;
}

.cp_iptxt input[type='text']{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	left:20px;
	padding-left:35px;
}
.cp_iptxt input[type='email']{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	left:20px;
	padding-left:35px;
}
.cp_iptxt textarea[type='comment']{
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	left:20px;
	padding-left:15px;
}

.cp_iptxt input[type='text']:focus {
	outline: none;
}
.cp_iptxt input[type='email']:focus {
	outline: none;
}
.cp_iptxt textarea[type='comment']:focus {
	outline: none;
}

textarea.ef{
	padding: 15px 0 15px;
	height: 100%;
	resize: none;
}
.ef {
	/*padding: 4px 0;*/
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}

.ef ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #da3c41;
}

.ef:focus ~ .focus_line,
.cp_iptxt.ef ~ .focus_line {
	left:0;
	width: 100%;
	transition: 0.4s;
}

.ef ~ label {
	position: absolute;
	z-index: 30;
	top: 4px;
	left: 0;
	width: 100%;
	transition: 0.3s;
	letter-spacing: 0.5px;
	margin-bottom: 1vh;
	color: #aaaaaa;
}

.ef:focus ~ label, .cp_iptxt.ef ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #da3c41;
}

.btn-square-pop {
	position: relative;
	display: inline-block;
	padding: 0.25em 0.5em;
	text-decoration: none;
	color: #FFF;
	background: #fd6e35;
	border-bottom: solid 2px #d27d00;
	border-radius: 5px;
	box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
	font-weight: bold;
	text-align:center;
  }
  
  .btn-square-pop:active {
	border-bottom: solid 2px #fd9535;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }