body {
    background-color: #333333;
}

.sidebar {
    position: fixed;
    left: -100px;
    
    width: 100px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 6;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 5px 0;
}

.sidebar li a {
    width: 100px;
    height: 35px;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 35px;
    color: #333333;
    font-family: "メイリオ";
}

.img_01 {
    background-color: #FA8072;
}

.img_02 {
    background-color: #66CDAA;
}

.img_03 {
    background-color: #B0E0E6;
}

.img_04 {
    background-color: #99FF66;
}

#tg_button{
    position: fixed;
    text-align: center;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.4);
    height : 35px;
    width : 55px;
    top:5px;
    vertical-align:middle;
    z-index: 6;
    border-radius: 5px;
}

#tg_button > span:before{
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-tansform: rotate(45deg);
    left: 10px;
}
#tg_button > span:after{
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #FFF;
    border-right: 1px solid #FFF;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-tansform: rotate(45deg);
    right: 10px;
}

.button span {    
    position: absolute;
    top: 0;
    left: 100px;
    display: block;
    width: 32px;
    height: 45px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-decoration: none;
    
}

.open:after {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-tansform: rotate(45deg);
}

.close:after {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-tansform: rotate(-45deg);
}

.accbox {
    margin: 0 0;
    padding: 0;
    max-width: 400px;
}

.accshow > p{
    margin-bottom: 1px;
}
.accbox label {
    display: block;
    width: 100px;
    margin: 1.5px 0;
    padding : 11px 12px;
    color :#f0f0f0;
    font-weight: bold;
    cursor :pointer;
    transition: all 0.5s;
    text-align: center;
    border-radius: 10px 5px 1px 5px/5px 5px 1px 5px;
}

.accbox label:hover {
    background-color:rgba( 135, 180, 240, 0.9);
}

.accbox input {
    display: none;
}

.accbox .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.cssacc:checked + .accshow {
    height: auto;
    padding: 5px 0;
    
    opacity: 0.9;
    border-radius: 0 0 5px 5px/0 0 5px 5px;
}