
header{
    top: 0;
    background-color:rgb(59, 216, 137);
    position:fixed;
    height:50px;
    width:100%;
    z-index: 15;
    min-width:1200px;
}

.HeadBlock{
    margin:5px 3px;
    
    float:left;
}

.HeadBlock p{
    font-size:13px;
    margin:1px 3px;
 }
.button{
    
    height:30px;
    width:90px;
}

#musiclistid{
    width:300px;
}

#main{
    width:2000px;
    height:1500px;
    margin-top:50px;
    background-size: cover;
    text-align: center;
    background-image : url(img/backaxis.jpg );
    
    z-index:0;
}

.music_box{
    float:left;
    font-size: 12px;
    
    word-break : break-all;
    z-index: 10;
    width:40px;
    height:40px;
    border-style: groove;
    position:absolute;
    
}



.music_box_2{background-color:yellow; opacity: 0.9;}
.music_box_3{background-color:deeppink; opacity: 0.9;}
.music_box_4{background-color:red; opacity: 0.9;}
.music_box_5{background-color:darkblue; color:white; opacity: 0.9;}
.music_box_6{background-color:mediumpurple; opacity: 0.9;}
.music_box_7{background-color:silver; opacity: 0.9;}
.music_box_8{background-color:orange; opacity: 0.9;}
.music_box_9{background-color:aqua; opacity: 0.9;}
.music_box_10{background-color:midnightblue; color:white; opacity: 0.9;}
.music_box_11{background-color:rgb(80, 2, 2); color:white; opacity: 0.9;}
.music_box_12{background-color:blue; opacity: 0.9;}
.music_box_13{background-color:#666; opacity: 0.9;}
.music_box_14{background-color:goldenrod; opacity: 0.9;}
.music_box_15{background-color:#063; opacity: 0.9;}
.music_box_16{background-color:hotpink; opacity: 0.9;}
.music_box_17{background-color:#e5eeff; opacity: 0.9;}
.music_box_18{background-color:#fcc800; opacity: 0.9;}
.music_box_19{background-color:deepskyblue; opacity: 0.9;}
.music_box_20{background-color:#DDD; opacity: 0.9;}
.music_box_21{background-color:#300; color:white; opacity: 0.9;}
.music_box_22{background-color:darkgray; opacity: 0.9;}
.music_box_23{background-color:GOLD; opacity: 0.9;}
.music_box_24{background-color:black; color:white; opacity: 0.9;}
.music_box_25{background-color:lightgray; opacity: 0.9;}
.music_box_26{background-color:rgb(41, 35, 4); color:white; opacity: 0.9;}